body{
    background-color: #000000;
}
#para1{
    color: #00FFFF;
}

h1 {
    text-align: center;
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
div p{
    color:black;
    font-size: 50px;
    position: absolute;
    top: 400px;
    left:100px;
    
}
a:hover{
    color: #FFFFFF
}
::selection {
    color: black;
    background: #050505;
  }
:link{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:visited{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
