body{
    background-image: url(VhkF.gif);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    color: white;
    text-align: center;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a{
    font-size: 20px;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 3px;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
label{
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: 'Courier New', Courier, monospace;
}
input{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
div.link{
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
    cursor: no-drop;

}
