

.flex-container {

display: flex;
flex-direction: row;
flex-wrap: nowrap;
width: 1200px;
text-align: center;
line-height: 250px;

}

.flex-items{
  background-color: rgb(236, 203, 152);
  height: 250px;
  width: 100%;
  
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
align-content: center;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border-top: 10px  rgb(98, 121, 172) solid; 
  border-left: 10px rgb(98, 121, 172) solid; 
  border-bottom: 10px rgb(98, 121, 172) solid; 
  border-right: 5px rgb(98, 121, 172) solid;
  
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border-top: 10px rgb(98, 121, 172) solid; 
  border-left: 5px rgb(98, 121, 172) solid; 
  border-bottom: 10px rgb(98, 121, 172) solid; 
  border-right: 5px rgb(98, 121, 172) solid; 
  
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border-top: 10px rgb(98, 121, 172) solid; 
  border-left: 5px rgb(98, 121, 172) solid; 
  border-bottom: 10px rgb(98, 121, 172) solid; 
  border-right: 10px rgb(98, 121, 172) solid; 
  
}
